h1{
    background-color: black;
}
.my{
    color: white;
}

.cloud{
    color: #00FFFF;
}



h2 {
    color:white ;
    background-color: #663399;
    text-align: center;
    font-style: italic;
}

h3{
    color: #21134E;
    background-color: #9FC5F8;
    text-align: right;
    text-decoration: underline;
    
}

*{
    font-family: monospace;
}